<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item dropdown">
      <button class="dropbtn">Ejercicios</button>
      <div class="dropdown-content">
        <!-- Usa (click) para llamar a la función navigateToEjercicio1 -->
        <a (click)="navigateToEjercicio1()">Ejercicio 1</a>
       


        <a href="">Ejercicio 02</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <button class="dropbtn">Tareas</button>
      <div class="dropdown-content">
        <a [routerLink]="['/ejercicio1']">Ejercicio 1</a>
        <a href="#">Tarea 2</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <button class="dropbtn">Examen Práctico</button>
      <div class="dropdown-content">
        <a href="#">Opción 1</a>
        <a href="#">Opción 2</a>
      </div>
    </li>
    <li class="nav-item">
      <button (click)="logout()">Cerrar Sesión</button>
    </li>
  </ul>
</nav>
