<div class="page-content">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Inactividad</th>
          <th>Duración</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let session of sessions">
          <td>{{ session.usuario }}</td>
          <td>{{ session.inicio }}</td>
          <td>{{ session.fin }}</td>
          <td>{{ session.inactividad }}</td>
          <td>{{ session.duracion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>