
  

  <div class="page-content-container">
    <div class="table-container">
      <table datatable class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
          <!-- Tus filas de datos aquí -->
          <tr>
            <td>1</td>
            <td>Angel de Jesus </td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Artiaga Morales</td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jesus Dominguez</td>
            <td>Capitan America</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Michelle Castro</td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Matias Granillo</td>
            <td>Capitan America</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Yazmin Gutierrez</td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Edwin</td>
            <td>Capitan America</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Brisa Gregorio</td>
            <td>Capitan America</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Carlos Daniel</td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Citlaly Dionizo</td>
            <td>Capitan America</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Al Farias</td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Jose Arturo</td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>13</td>
            <td>Francisco Garcia</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>14</td>
            <td>Francisco Flores</td>
            <td>Capitan America</td>
          </tr>      <tr>
            <td>15</td>
            <td>Giovani Pasos</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>16</td>
            <td>Diego Rivera</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>17</td>
            <td>Derek Sesni</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>18</td>
            <td>Jenny Bautista</td>
            <td>Capitan America</td>
          </tr>      <tr>
            <td>19</td>
            <td>Adrian Pérez</td>
            <td>Capitan America</td>
          </tr>      <tr>
            <td>20</td>
            <td>Luis Daniel</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>21</td>
            <td>Uriel Maldonado</td>
            <td>Capitan America</td>
          </tr>      <tr>
            <td>22</td>
            <td>Maurico Rosales</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>23</td>
            <td>Teresa Vargas</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>24</td>
            <td>Jhonatan</td>
            <td>Capitan America</td>
          </tr>      <tr>
            <td>25</td>
            <td>Dulce</td>
            <td>Iroman</td>
          </tr>      <tr>
            <td>26</td>
            <td>Sayurit</td>
            <td>Capitan America</td>
          </tr>
          <tr>
            <td>27</td>
            <td>Profe Marco</td>
            <td>Iroman</td>
          </tr>
          <tr>
            <td>28</td>
            <td>Obed Guzman</td>
            <td>Iroman</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


