@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


*{
    max-width: 100%;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
